@import url("./theme.css");
.letter--correct {
  color: var(--color-correct);
}
.letter--incorrect {
  color: var(--color-incorrect);
}
.letter--overflow {
  color: purple;
}
.test-words {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1ch;
}
.word {
  display: inline-block;
  position: relative;
  --color-correct: teal;
  --color-incorrect: red;
}
.word::after {
  content: "";
  width: 100%;
  border-radius: 0.025rem;
  background-color: var(--color-incorrect);
  position: absolute;
  left: 0;
  bottom: 0;
}
.word:is(.word--incorrect, .word--current)::after {
  height: 2px;
}
.word:is(.word--current)::after {
  background-color: black;
}
.word:is(.word--correct)::after {
  background-color: var(--color-correct);
}
.word:is(.word--incorrect):not(.word--current)::after {
  background-color: var(--color-incorrect);
}
.settings {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
.settings--open {
  display: flex;
}
.settings-button {
  position: relative;
  z-index: 3;
  padding: 0.5rem;
  margin: 1rem;
  align-self: flex-end;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
